.components {
    box-sizing: border-box;
    display: flex;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 64px auto;
    width: 1664px;
  }
  .components__section {
    display: flex;
  }
  .components__column {
    display: flex;
    height: 664px;
    flex-direction: column;
    margin: 0 8px;
    width: 400px;
  }
  .components .flex {
    flex: 1;
    box-sizing: border-box;
  }
  .components p {
    color: #616161;
    font-size: 14px;
    font-weight: bold;
  }
  
  .component > p {
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0;
  }
  .component__section {
    align-items: center;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 400px;
  }
  .component__section--size-narrow {
    height: 152px;
  }
  .component__section__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 30px;
  }
  .component__section__content__frame {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .component__section--size-full {
    height: 620px;
  }
  .component__containers {
    align-items: flex-start;
    display: flex;
    height: 292px;
    flex-direction: row;
  }
  .component__containers__primary__only p {
    display: none;
  }
  .component__containers__primary, .component__containers__secondary {
    display: flex;
    align-items: center;
  }
  .component__containers__primary > p, .component__containers__secondary > p {
    color: #616161;
    font-size: 11px;
    font-weight: bold;
  }
  .component__containers__primary__only {
    margin-top: 40px;
  }
  .component__containers__secondary {
    margin-left: 80px;
  }
  .component__containers__primary, .component__containers__secondary {
    flex-direction: column;
  }
  .component__containers__primary > p, .component__containers__secondary > p {
    margin: 25px 0 15px;
  }
  .component__containers__primary > *[class^=""]:not(:nth-child(2)), .component__containers__secondary > *[class^=""]:not(:nth-child(2)) {
    margin-top: 40px;
  }
  .component__containers[dir-horizontal] {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .component__containers[dir-horizontal] .component__containers__primary__only {
    margin-top: 0;
  }
  .component__containers[dir-horizontal] .component__containers__secondary {
    margin-left: 0;
    margin-top: 12px;
  }
  .component__containers[dir-horizontal] .component__containers__primary, .component__containers[dir-horizontal] .component__containers__secondary {
    flex-direction: row;
  }
  .component__containers[dir-horizontal] .component__containers__primary > p, .component__containers[dir-horizontal] .component__containers__secondary > p {
    margin: 0 16px 0 0;
    text-align: right;
    width: 60px;
  }
  .component__containers[dir-horizontal] .component__containers__primary > *[class^=""], .component__containers[dir-horizontal] .component__containers__secondary > *[class^=""] {
    margin-top: 0;
    margin-right: 60px;
  }
  *, :after, :before {
    box-sizing: inherit;
  }
  @media all and (max-width: 1712px) {
    .components {
      margin: 32px auto;
      width: 832px;
    }
    .components__section {
      flex-direction: column;
    }
    .components__column {
      margin-bottom: 64px;
    }
  }
  @media all and (max-width: 880px) {
    .components {
      flex-direction: column;
      width: 416px;
    }
  }
  
      .component__buttons .component__containers__primary .button,
      .component__buttons .component__containers__primary .fab {
        background-color: #062498;
        color: #ffffff;
      }
  
      .component__buttons .component__containers__primary .button--plain,
      .component__buttons .component__containers__primary .fab--plain {
        background-color: transparent;
        color: #062498;
      }
  
      .component__buttons .component__containers__secondary .button,
      .component__buttons .component__containers__secondary .fab {
        background-color: #e2ac18;
        color: #000000;
      }
  
      .component__buttons .component__containers__secondary .button--plain,
      .component__buttons .component__containers__secondary .fab--plain {
        background-color: transparent;
        color: #e2ac18;
      }
  
      .component__buttons .component__containers__primary .button--raised.ripple-upgraded::before,
      .component__buttons .component__containers__primary .button--raised.ripple-upgraded::after {
        background-color: rgba(255, 255, 255, 0.06);
      }
  
      .component__buttons .component__containers__primary .button--plain.ripple-upgraded::before,
      .component__buttons .component__containers__primary .button--plain.ripple-upgraded::after {
        background-color: rgba(6, 36, 152, 0.06);
      }
  
      .component__buttons .component__containers__primary .fab.ripple-upgraded::after {
        background-color: rgba(255, 255, 255, 0.16);
      }
  
      .component__buttons .component__containers__primary .fab--plain.ripple-upgraded::after {
        background-color: rgba(6, 36, 152, 0.16);
      }
  
      .component__buttons .component__containers__secondary .button--raised.ripple-upgraded::before,
      .component__buttons .component__containers__secondary .button--raised.ripple-upgraded::after {
        background-color: rgba(0, 0, 0, 0.06);
      }
  
      .component__buttons .component__containers__secondary .button--plain.ripple-upgraded::before,
      .component__buttons .component__containers__secondary .button--plain.ripple-upgraded::after {
        background-color: rgba(226, 172, 24, 0.06);
      }
  
      .component__buttons .component__containers__secondary .fab.ripple-upgraded::after {
        background-color: rgba(0, 0, 0, 0.16);
      }
  
      .component__buttons .component__containers__secondary .fab--plain.ripple-upgraded::after {
        background-color: rgba(226, 172, 24, 0.16);
      }
    
    .component__selection .component__containers__primary__only .snackbar {
      transform: translate(-50%,-100%);
    }
  
    .component__selection .snackbar {
      left: auto !important;
      transform: translate(-28%,-164%);
      position: absolute;
      min-width: 240px;
      margin-left: -16px;
      width: 240px;
    }
  
    .component__selection .snackbar__secondary {
      transform: translate(-28%,-40%);
    }
  
    .component__selection .snackbar__text,
    .component__selection .snackbar__action-button {
      opacity: 1;
      font-size: 12px;
    }
    
      .component__switches .component__containers__primary .checkbox__native-control:checked:not(:disabled) ~ .checkbox__background,
      .component__switches .component__containers__primary .checkbox__native-control:indeterminate:not(:disabled) ~ .checkbox__background,
      .component__switches .component__containers__primary .radio__native-control:checked+.radio__background .radio__inner-circle {
        background-color: #062498;
        border-color: #062498;
      }
  
      .component__switches .component__containers__primary .switch__native-control:checked~.switch__background::before,
      .component__switches .component__containers__primary .switch__native-control:checked~.switch__background .switch__knob::before,
      .component__switches .component__containers__primary .switch__native-control:checked~.switch__background .switch__knob {
        background-color: #062498;
      }
  
      .component__switches .component__containers__primary .radio__native-control:checked+.radio__background .radio__outer-circle {
        border-color: #062498;
      }
  
      .component__switches .component__containers__primary .checkbox__background::before,
      .component__switches .component__containers__primary .radio__background::before {
        background-color: #062498;
      }
  
      .component__switches .component__containers__secondary .checkbox__native-control:checked:not(:disabled) ~ .checkbox__background,
      .component__switches .component__containers__secondary .checkbox__native-control:indeterminate:not(:disabled) ~ .checkbox__background,
      .component__switches .component__containers__secondary .radio__native-control:checked+.radio__background .radio__inner-circle {
        background-color: #e2ac18;
        border-color: #e2ac18;
      }
  
      .component__switches .component__containers__secondary .switch__native-control:checked~.switch__background::before,
      .component__switches .component__containers__secondary .switch__native-control:checked~.switch__background .switch__knob::before,
      .component__switches .component__containers__secondary .switch__native-control:checked~.switch__background .switch__knob {
        background-color: #e2ac18;
      }
  
      .component__switches .component__containers__secondary .radio__native-control:checked+.radio__background .radio__outer-circle {
        border-color: #e2ac18;
      }
  
      .component__switches .component__containers__secondary .checkbox__background::before,
      .component__switches .component__containers__secondary .radio__background::before {
        background-color: #e2ac18;
      }
  
      .component__switches .component__containers__primary .checkbox.ripple-upgraded--unbounded::before,
      .component__switches .component__containers__primary .checkbox.ripple-upgraded--unbounded::after,
      .component__switches .component__containers__primary .radio.ripple-upgraded--unbounded::before,
      .component__switches .component__containers__primary .radio.ripple-upgraded--unbounded::after {
        background-color: rgba(6, 36, 152, 0.14);
      }
  
      .component__switches .component__containers__secondary .checkbox.ripple-upgraded--unbounded::before,
      .component__switches .component__containers__secondary .checkbox.ripple-upgraded--unbounded::after,
      .component__switches .component__containers__secondary .radio.ripple-upgraded--unbounded::before,
      .component__switches .component__containers__secondary .radio.ripple-upgraded--unbounded::after {
        background-color: rgba(226, 172, 24, 0.14);
      }
    
    .component__cards .card {
      background-color: #ffffff;
      height: 316px;
      width: 262px;
    }
  
    .component__cards .card__title,
    .component__cards .card__subtitle {
      font-size: 11px;
      line-height: 17px;
    }
  
    .component__cards .card__subtitle {
      color: #707070;
    }
  
    .component__cards .card__header {
      align-items: center;
      display: flex;
      height: 40px;
      padding: 0 16px 20px;
    }
  
    .component__cards .demo-card__avatar {
      background: #bdbdbd;
      height: 40px;
      width: 40px;
      margin-right: 12px;
      border-radius: 50%;
    }
  
    .component__cards .card__supporting-text {
      font-size: 10px;
    }
  
    .component__cards .demo-card--with-avatar .card__title,
    .component__cards .demo-card--with-avatar .card__subtitle {
      margin-left: 56px;
    }
  
    .component__cards .card__actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 16px 16px 16px;
    }
  
    .component__cards .card__media {
      height: 140px;
      overflow: hidden;
      padding: 0
    }
  
    .component__cards .card__media .material-image {
      top: 64px;
      position: relative;
    }
  
    .component__cards .-theme-primary {
      background-color: #062498;
      color: #ffffff;
    }
  
    .component__cards .-theme-secondary {
      background-color: #e2ac18;
      color: #000000;
    }
  
    .component__cards .material-image .material-image__background {
      fill: #000069;
    }
  
    .component__cards .material-image .material-image--shape-circle,
    .component__cards .material-image .material-image--shape-triangle {
      fill: #062498;
    }
  
    .component__cards .material-image .material-image--shape-intersection {
      fill: #000069;
    }
  
    .component__cards .button--raised.-theme-primary.ripple-upgraded::after {
      background-color: rgba(255, 255, 255, 0.06);
    }
  
    .component__cards .button--raised.-theme-secondary.ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.06);
    }
    
    .component__menu .toolbar {
      background-color: #e2ac18;
      z-index: 1;
    }
  
    .component__menu .toolbar {
      height: 56px;
      padding: 16px;
    }
  
    .component__menu .permanent-drawer {
      border-right: none;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 3;
    }
  
    .component__menu .backdrop {
      background-color: rgba(0, 0, 0, .50);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
  
    .component__menu .nav-header {
      height: 140px;
      position: relative;
      overflow: hidden;
    }
  
    .component__menu .nav-header .material-image {
      position: relative;
      top: -50px;
    }
  
    .component__menu .permanent-drawer {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  
    .component__menu .list-item {
      font-weight: 400;
    }
  
    .component__menu .list-item.ripple-upgraded {
      left: 0;
    }
  
    .component__menu .list-item.ripple-upgraded::before,
    .component__menu .list-item.ripple-upgraded::after {
      background-color: rgba(6, 36, 152, 0.06);
    }
  
    .component__menu .permanent-drawer .permanent-drawer--selected::before,
    .component__menu .permanent-drawer .list-item:active::before {
      background-color: #062498;
      opacity: .16;
    }
  
    .component__menu .permanent-drawer--selected.list-item .list-item__start-detail,
    .component__menu .permanent-drawer .permanent-drawer--selected {
      color: inherit;
    }
  
    .component__menu .material-image__background {
      fill: #000069;
    }
  
    .component__menu .material-image--shape-circle,
    .component__menu .material-image--shape-triangle {
      fill: #062498;
    }
  
    .component__menu .material-image--shape-intersection {
      fill: #000069;
    }
    
    .component__textfield .component__containers {
      margin-top: 40px;
    }
  
    .component__textfield .component__containers__secondary {
      padding: 17px 0;
    }
  
    .component__textfield .component__containers p {
      padding-bottom: 20px;
    }
  
    .component__textfield .textfield {
      margin-right: 14px !important;
    }
  
    .component__textfield .textfield__input {
      width: 264px;
    }
  
    .component__textfield .textfield__label {
      bottom: 12px;
    }
  
    .component__textfield .textfield--theme-primary .textfield__label {
      color: #062498;
    }
  
    .component__textfield .textfield--theme-primary .textfield:not(.textfield--upgraded) .textfield__input:focus {
      border-color: #062498;
    }
  
    .component__textfield .textfield--theme-secondary .textfield__label {
      color: #e2ac18;
    }
  
    .component__textfield .textfield--theme-secondary .textfield:not(.textfield--upgraded) .textfield__input:focus {
      border-color: #e2ac18;
    }
    
    .component__toolbar .app-bar {
      background-color: #000069;
      display: block;
      height: 20px;
      width: 100%;
    }
  
    .component__toolbar .toolbar {
      height: 56px;
      padding: 16px;
      flex-direction: row;
      align-items: center;
    }
  
    .component__toolbar .toolbar__section {
      align-items: center;
    }
  
    .component__toolbar .toolbar__title {
      padding-left: 8px;
    }
  
    .component__toolbar .material-icons {
      color: #ffffff;
    }
  
    .component__toolbar .material-image {
      position: relative;
      top: -64px;
    }
  
    .component__toolbar main {
      background-color: white;
      height: calc(100% - 48px);
    }
  
    .component__toolbar .cover-image__frame {
      display: block;
      height: 220px;
      position: relative;
      width: 100%;
    }
  
    .component__toolbar .cover-image {
      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  
    .component__toolbar .fab {
      position: absolute;
      bottom: -25px;
      right: 28px;
    }
  
    .component__toolbar .content {
      font-size: 13px;
      line-height: 20px;
      padding: 50px 35px;
    }
  
    .component__toolbar .component__section__content__frame::before {
      bottom: 0;
      content: "";
      background-image: url(//storage.googleapis.com/demos-in-spec/images/android-bottom.png);
      background-repeat: no-repeat;
      height: 48px;
      position: absolute;
      width: 100%;
      z-index: 9999999;
    }
  
    .component__toolbar .-theme-primary {
      background-color: #062498;
      color: #ffffff;
    }
  
    .component__toolbar .-theme-secondary {
      background-color: #e2ac18;
      color: #000000;
    }
  
    .component__toolbar .material-image .material-image__background {
      fill: #ab7d00;
    }
  
    .component__toolbar .material-image .material-image--shape-circle,
    .component__toolbar .material-image .material-image--shape-triangle {
      fill: #ffdd52;
    }
  
    .component__toolbar .material-image .material-image--shape-intersection {
      fill: #ab7d00;
    }
  
    .component__toolbar .icon-toggle::before,
    .component__toolbar .icon-toggle::after {
      background-color: rgba(255, 255, 255, 0.06);
    }
  
    .component__toolbar .fab.-theme-primary.ripple-upgraded::after {
      background-color: rgba(255, 255, 255, 0.16);
    }
  
    .component__toolbar .fab.-theme-secondary.ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.16);
    }
    